body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(background-nature.jpeg);
}
header {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 100px;
    color: greenyellow;
    text-align: center;
}

.box {
    background-color:blueviolet;
    margin: 15px;
}

label {
    font-size: 25px;
    color: white;;
}

h3 {
    font-size: 25px;
    color:white;
}

x-hover:hover::after {
    content: 'X';
}

o-hover:hover::after {
    content: 'O';
}